{% extends 'TaskManage/base.html' %}
{% load static from staticfiles %}
{% block task_block %}
  <h1>任务详情</h1>

  <div class="container">
    任务日期: {{ task.date }} <br/>
    任务状态: {{ task.task_status }} <br/>
    房间号: {{ task.room }}<br/>
    任务内容:
    <pre>
{{ task.context }}
    </pre>
    <form action="" method="post">
      {% csrf_token %}
      <input class="submit" type="submit" name="done" value="完成">
    </form>

    <a href="{% url 'TaskManage:tasklist' %}">返回列表</a>
  </div>

{% endblock %}