{% extends 'TaskManage/base.html' %}
{% load static from staticfiles %}
{% block task_block %}

  <h1>紧急事件</h1>
  {% if room_list and user_list %}
    <form action="" method="post">
      {% csrf_token %}
      房间号:
      <select name="room_id">
        {% for room in room_list %}
          <option value="{{ room.id }}">{{ room.room_num }}</option>
        {% endfor %}
      </select><br/>
      员工名:
      <select name="user_id">
        {% for user in user_list %}
          <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
      </select><br/>
      <input class="submit" type="submit" name="submit" value="提交"/>
      <input class="submit" type="submit" value="提交并返回" name="submit_return">
      <a href="{% url 'TaskManage:emergence' %}">取消</a>
    </form>
  {% endif %}

  <br>
  <a href="{% url 'TaskManage:index' %}">返回</a>
{% endblock %}
