<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<h1>TASK INDEX</h1>
<a href="{% url 'TaskManage:tasklist' %}">Task list</a>

{% if clock_status %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="clock in" name="clockin">
    </form>
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="clock out" name="clockout">
    </form>
{% endif %}

<a href="{% url 'TaskManage:emergence' %}">emergence</a>
</body>
</html>