{% extends 'TaskManage/base.html' %}
{% load static from staticfiles %}
{% block check_in_block %}

      <div class="row contact_top">
        <div class="col-md-3 contact_details">
          {% if clock_status %}
            <form action="" method="post">
              {% csrf_token %}
              <input class="submit" type="submit" value="上班打卡" name="clock_in">
            </form>
          {% else %}
            <form action="" method="post">
              {% csrf_token %}
              <input class="submit" type="submit" value="下班打卡" name="clock_out">
            </form>
          {% endif %}
          <br/>
          <div>员工打卡，记录上下班时间</div>
          <br/>
        </div>
      </div>

{% endblock %}