<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<h1>TASK INDEX</h1>
<a href="{% url 'TaskManage:tasklist' %}">任务列表</a>

{% if clock_status %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="打卡" name="clock_in">
    </form>

{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="clock out" name="clock_out">
    </form>
{% endif %}

{% if perms.TaskManage.add_emergency %}
<a href="{% url 'TaskManage:emergence' %}">紧急事件</a>
{% endif %}
</body>
</html>