{% extends 'RoomManage/index.html' %}
{% load static from staticfiles %}
{% block room_block %}
  <h1>空余的客房</h1>

  <div class="container">
    {% if room_list %}
      <div class="row contact_top">
        {% for room in room_list %}
          <div class="col-md-3 contact_details">
            <h5>房号 : {{ room.room_num }}</h5>
            <br/>
            <div>
            <span>
            客房类型 : {{ room.room_type }}
              <br>
            价格 : {{ room.room_price }}
              <br>
            </span>
              <a href="{% url 'RoomManage:custom_reserve' room.room_num %}">预订</a> |
              <a href="{% url 'RoomManage:custom_check_in' room.room_num %}">入住</a>
            </div>
          </div>
        {% endfor %}
      </div>

    {% else %}
      <p>room is all checked</p>
    {% endif %}
  </div>

{% endblock %}
