{% extends 'RoomManage/index.html' %}
{% load static from staticfiles %}
{% block room_block %}
  <div class="container">
    <h1>入住已定客房</h1>
    <br>

    <h1>ROOM DETAIL</h1>
    {{ message }}
    <br/>
    房号 : {{ room.room_num }} <br/>
    价格 : {{ room.room_price }} <br/>
    类型 : {{ room.room_type }} <br/>
    <br/>
    {% if custom %}
      <div class="row contact_top">
        <div class="col-md-9 contact_details">
          <h5>顾客信息</h5>
          <div>
            <span>
              顾客姓名: {{ custom.custom_name }}
              <br>
              顾客性别: {{ custom.custom_gender }}
              <br>
              身份证号: {{ custom.custom_id }}
              <br>
              电话号码: {{ custom.phone_num }}
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    {% if order %}
      <div class="row contact_top">
        <div class="col-md-9 contact_details">
          <h5>订单信息</h5>
          <div>
            <span>
              预定日期: {{ order.reserve_date }}
            </span>
          </div>
        </div>
      </div>
    {% endif %}
    {% if bill %}
      <div class="row contact_top">
        <div class="col-md-9 contact_details">
          <h5>账单信息</h5><br/>
          <div>
            <span>
              预定日期: {{ bill.reserve_date }}
              <br>
              入住日期: {{ bill.check_in_date }}
              <br>
              定金: {{ bill.deposit }}
              <br>
              消费: {{ bill.cost }}
            </span>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <a href="{% url 'RoomManage:room_status' %}">返回列表</a><br/>

{% endblock %}
