<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body>
{% if item_list %}
    <form action="" method="post">
    {% csrf_token %}
        <ul>
            {% for item in item_list %}
                <li>物品名称: {{ item.name }}  </li>
                数量: <input type="text" name="amount_{{ item.id }}" value="0"/>  价格: <input type="text" name="price_{{ item.id }}" value="0"/>
            {% endfor %}
        </ul>
        <input type="submit" value="提交" name="submit"/> <input type="submit" value="提交并返回" name="submit_return">
    </form>
    <a href="{% url 'ItemManage:add_room_item' room_num %}">取消</a>
{% endif %}
<br/>
<a href="{% url 'ItemManage:index' %}">item index</a>
</body>
</html>