{% extends 'RecruitManage/base.html' %}
{% load static from staticfiles %}
{% block recruitment_block %}


  <h1>招聘详情</h1>
  {% if recruitment %}
    <div class="row contact_top">

      <div class="col-md-8 contact_details">
        {{ recruitment.name }}
      </div>
      <div class="clear"></div>

      <div class="col-md-8 contact_details">
        工作岗位: {{ recruitment.position }}
      </div>
      <div class="clear"></div>

      <div class="col-md-8 contact_details">
        基本信息:
        <pre>{{ recruitment.baseinfo }}</pre>
      </div>
      <div class="clear"></div>

      <div class="col-md-8 contact_details">
        技能要求:
        <pre>{{ recruitment.required }}</pre>
      </div>
    </div>
    <div class="clear"></div>
  {% endif %}

  <div class="row contact_top">
    <a href="{% url 'RecruitManage:position' %}">所有职位</a>
  </div>


{% endblock %}


