{% extends 'RecruitManage/base.html' %}
{% load static from staticfiles %}
{% block recruitment_block %}

  <div class="row contact_top">
    <h1>职位</h1>
    {% if recruitment_list %}
      <table class="table table-striped">
        <thead>
        <tr>
          <td>工作</td>
          <td>岗位</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        {% for recruitment in recruitment_list %}
          <tr>
            <td>{{ recruitment.name }}</td>
            <td>{{ recruitment.position }}</td>
            <td><a href="{% url 'RecruitManage:detail' recruitment.id %}">详情</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}

